body{
  display:grid;
  grid-template-rows: 60px 500px 100px;
}

button:hover{
  background-color: orange;
  cursor: pointer;
  transition: background 0.1s linear;
}
 button[type="submit"]:disabled{
  background-color: dimgray;
  cursor:default;
  border-color: black;
  border-width: 2px;
 }

header{
  display:flex;
  position: fixed;
  background-color: white;
  /* overflow: hidden; */
}

ul.navbar-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,max-content);
  gap: 15px;
}
ul.navbar-list>li>a{
  text-decoration: none;
  color: black;
  font-weight:540;
  font-family: 'Karla';
}
Header{
  display: grid;
  grid-template-columns: auto auto;
  gap:1.5rem;
  padding:0.5rem;
  width:100%;
  min-width: 750px;
  align-items: center;
  justify-content: center;
}

p{
  font-size: larger;
}
h1,h2{
  font-size: 3rem;
}

button{
  margin-top: 20px;
  width: 15rem;
  height: 3rem;
  border-radius: 12px;
  border-style: none;
  background-color: #F4CE14;
  
  font-weight: bold;
}


footer{
  
 
  display: grid;
  margin-top: 3%;
  grid-template-columns: 30% auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}
.footer-list{
  padding-top: 5%;
  list-style: none;
  
}
.footer-list>li>a{
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: small;
}
.footer-text{
 
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap:6%
}

.required-field::after {
  content: "*";
  color: white;
}

/* .required-field{
  content: "*";
  color: red;
} */
.popup{
  display:flex;
  background-color: aliceblue;
}