header{
  position: fixed;
  background-color: white;
  overflow: hidden;
}

ul.navbar-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,max-content);
  gap: 15px;
}
ul.navbar-list>li>a{
  text-decoration: none;
  color: black;
  font-weight:540;
  font-family: 'Karla';
}
Header{
  display: grid;
  grid-template-columns: auto auto;
  gap:1.5rem;
  padding:0.5rem;
  width:100%;
  min-width: 750px;
  
  align-items: center;
  justify-content: center;
}


.Hero{
  max-height: 50vh;
  padding-top: 30px;
  background-color: #495E57;
  display: grid;
  grid-template-columns: 50% auto;
  justify-content: center;
}
.Hero >div {
  padding-top: 50px;
}
.Hero-image > img{
  border-radius: 16px;
  
}
.Hero>div>p{
  padding-top: 20px;
}
button{
  margin-top: 30px;
  width: 10rem;
  height: 2rem;
  border-radius: 12px;
  border-color: none;
  border-style: none;
  background-color: #F4CE14;
  
  font-weight: bold;
}
.Hero>div>h1{
  color: #F4CE14;
}
.Hero>div>h2,p{
  color:white;
  padding-right: 40px;
}


.Specials{
  min-height: 50vh;
}
footer{
  display: grid;
  grid-template-columns: repeat(4,max-content);
  justify-content: center;
}